<section id="download">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-auto">
        <h1>Sponsors</h1>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <p class="text-justify">
          JabRef development is powered by [YourKit Java Profiler](https://www.yourkit.com/java/profiler/)
          <img src="img/yklogo.png" alt="Image of YourKit" height="15"/>.
        </p>
      </div>
    </div>
  </div>
</section>
